<h1>Emilie's Profile</h1>
<p>
    First name: Emilie
    <br>
    Last name: Jensen
    <br>
    Age: 22
    <br>
    Gender: Female
</p>
<form action="/likeemilie" method="POST"><button>Like</button></form>
<form action="/dislikeemilie" method="POST"><button>Dislike</button></form>
<a href="/">Your Profile</a>
<a href="/matches">Find other matches</a>