<h1>Jens' Profile</h1>
<p>
    First name: Jens
    <br>
    Last name: Jensen
    <br>
    Age: 25
    <br>
    Gender: Male
</p>
<form action="/likejens" method="POST"><button>Like</button></form>
<form action="/dislikejens" method="POST"><button>Dislike</button></form>
<a href="/">Your Profile</a>
<a href="/matches">Find other matches</a>