<h1>Jesper's Profile</h1>
<p>
    First name: Jesper
    <br>
    Last name: Hansen
    <br>
    Age: 37
    <br>
    Gender: Male
</p>
<form action="/likejesper" method="POST"><button>Like</button></form>
<form action="/dislikejesper" method="POST"><button>Dislike</button></form>
<a href="/">Your Profile</a>
<a href="/matches">Find other matches</a>