<h1>Lone's Profile</h1>
<p>
    First name: Lone
    <br>
    Last name: Jacobsen
    <br>
    Age: 58
    <br>
    Gender: Female
</p>
<form action="/likelone" method="POST"><button>Like</button></form>
<form action="/dislikelone" method="POST"><button>Dislike</button></form>
<a href="/">Your Profile</a>
<a href="/matches">Find other matches</a>